.thread {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	border-style: solid none;
	border-width: thin;
	border-color: #f0f3f4;
}

.thread:hover {
	/* background-color: #f0f3f4; */
	/* background-color: #e9ecef; */
	background-color: whitesmoke;
}

.top {
	display: flex;
	align-items: center;
}

.top > p:last-child {
	margin-left: auto;
}

.bottom {
	display: flex;
}

.bottom > div:last-child {
	margin-left: auto;

	display: flex;
	align-items: center;
}